.commentsContainer {
  display: flex;
  margin-top: auto;
}

.textarea {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  font-family: var(--type-first);
  resize: none;
  border: 1px solid #eee;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: #eee;
  transition: 0.2s;
  height: 40px;
}

.textarea:focus,
.textarea:hover {
  outline: none;
  border-color: #4f13cf;
  background: white;
  box-shadow: 0 0 0 3px #e9dfff;
}

.button {
  border: none;
  cursor: pointer;
  color: #333;
  background: transparent;
  font-size: 1rem;
  border-radius: 0.2rem;
  padding: 0 1rem;
  overflow: hidden;
  transition: 0.2s;
}

.button:focus,
.button:hover {
  border: 1px solid #4f13cf;
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #e9dfff;
}
