.photoContent {
  margin: auto;
  height: 36rem;
  background: white;
  border-radius: 0.2rem;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.3s ease-in-out forwards;
}

.photoContentContainer {
  display: grid;
  grid-template-columns: 36rem 20rem;
  overflow: hidden;
}

.photoContentContainer img {
  border-radius: 0.2rem;
}

.detailsContainer {
  padding: 2rem;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
  }
}

.comments {
  padding: 0 2rem;
}

@media (max-width: 64rem) {
  .photoContent {
    height: 90vh;
  }

  .photoContentContainer {
    grid-template-columns: 1fr;
    overflow-y: auto;
    max-height: 90vh;
  }

  .photoContentContainer img {
    grid-row: 1;
  }

  .detailsContainer {
    padding: 2rem;
  }
}

.author {
  opacity: 0.5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author a {
  transition: 0.2s;
}

.author a:hover {
  text-decoration: underline;
  transition: 0.2s;
}
